body {
    background-color: #121212;
    color: #E0E0E0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #1E1E1E;
    padding: 20px;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #76C7C0;
}

header p {
    font-size: 1.2em;
    color: #B3B3B3;
}

header a {
    color: #76C7C0;
    text-decoration: none;
    margin: 0 10px;
}

section {
    margin: 20px;
}

section h2 {
    color: #76C7C0;
}

ul {
    list-style-type: disc;
    padding-left: 0;
    display: inline-block;
    text-align: left;
    margin: 0 auto;
}

li {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 10px;
}

footer {
    background-color: #1E1E1E;
    padding: 10px;
    color: #B3B3B3;
    font-size: 0.8em;
}
